body {
  background-image: radial-gradient(pink, lavender);
}

.login-page__img {
  display: inline-block;
  height: 85vh;
  width: 100%;
  max-width: 48rem;
  margin-left: 10%;
  overflow: hidden;
  border: 1px solid $subtle-tones;

  &__hero-img {
    height: 100%;
    min-height: 75rem;
  }
}

.login-page__form-container {
  float: right;
  @include flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  height: 85vh;
}

.login-page__form-container p {
  font-weight: bold;
}

.login-form__input {
  display: block;
  height: 4.5rem;
  width: 25rem;
  margin-top: 2rem;
  border-radius: 0.6rem;
}

.login-page__form__btn {
  @include hoverColor(lavender);
  color: 	#784283;
}

.login-error-msg {
  @extend .login-form__input;
  color: #fff;
  height: fit-content;
  padding: 1rem;
  background-color: #ff0033;
}
