body {
  background-color: chromatic-gradient(pink, purple);
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 80rem;
  background-image: $primary-gradient, url('../images/chateaux-bekker.png');
  background-size: cover;
  background-position:bottom;
  clip-path: ellipse(50% 50% at 50% 50%);

  &__title {
    color:$text-secondary;
    box-shadow: $main-drop-shadow;
    backface-visibility: hidden;
    @include center(50%, 50%);
    text-align:center;

    &--main {
      animation: moveInRight 1s ease-out
    }

    &--sub {
      animation: moveInLeft 1s ease-out
    }
  }
}

.hotel-rewards {
  position: relative;
  min-height: fit-content;
  height: 80rem;
  width: 100%;
  text-align: center;
  margin-top: 8rem;

  &__name {
     margin-top: 40%;
     text-shadow: 2px 2px $text-primary;
  }

  &__header {
    margin-top: 30%;
    text-shadow: 2px 2px $text-primary;
  }

  &__tag-line {
    font-size: 5rem;
    font-weight: 1000;
    color: $text-secondary;
    text-shadow: 2px 2px $text-three;
    position: absolute;
    left: 10rem;
    top: 15rem;
    text-align: center;
    z-index: 5;
  }
}

.rewards-container {
  height: 53%;
  width: 19%;
  overflow: hidden;
  border: 1px solid $subtle-tones;
  background-image: url('../images/monsieur-bekker.png');
  font-size: 2rem;
  color: #e5000c;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: 20%;
  z-index:2;
}

[aria-hidden="true"] {
  display: none;
}
