$text-primary: #e590a5;//pink
$text-secondary: rgb(255, 255, 255);//white
$text-three: rgb(81, 0, 86);//purple
$subtle-tones: rgb(80, 80, 80);
$accent: #FF395A;

$main-drop-shadow: 0 1rem 2rem rgba(black, .2);
$primary-gradient:linear-gradient(0deg, rgba(0, 0, 0, 0.568), rgba(168, 168, 168, 0.267))
